<template>
  <div class="admin">
    <div class="sidebar">
      <div class="sidebar-name">
        <h4 class="name">Admin {{ username }}</h4>
        <p class="des-admin">Description:{{ description }}</p>
      </div>
    </div>
    <div class="box-infor">
      <div class="header">
        <h3 class="title">Welcome to the Admin Page</h3>
      </div>
      <div class="content">
        <el-table :data="users" max-height="540" style="width: 100%">
          <el-table-column prop="createdAt" label="Date created" width="250">
          </el-table-column>
          <el-table-column prop="username" label="Name" width="250">
          </el-table-column>
          <el-table-column prop="description" label="Description">
          </el-table-column>
          <el-table-column prop="role.name" label="Role" with="200">
          </el-table-column>
          <el-table-column label="Decentralise" width="200">
            <template slot-scope="scope">
              <el-button size="mini" @click="handleEditRole(scope.row)"
                >Edit role</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "AdminPage",
  data() {
    return {
      users: [],
      description: "",
    };
  },
  computed: {
    username() {
      return this.$store.state.username;
    },
  },
  methods: {
    async handleEditRole(row) {
      try {
        const res = await axios.put("/role", { user_id: row.id, role_id: 1 });
        console.log(res);
      } catch (error) {
        console.log(error);
      }
    },
  },
  async created() {
    const res = await axios.get("user");
    //find description with username
    res.data.forEach((item) => {
      if (item.username === this.username) {
        this.description = item.description;
      }
    });
    this.users = res.data;
    //check user
    this.users = this.users.filter((user) => user.role.name === "user");
  },
};
</script>

<style scoped>
.admin {
  display: flex;
}
.box-infor {
  flex: 1;
}
.header {
  height: 65px;
  box-shadow: 0 0 32px rgb(33 37 41 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar {
  width: 265px;
  height: 713px;
  background-color: #222e3c;
}
.sidebar-name {
  color: #f8f9fa;
  padding: 18px 20px;
  text-align: left;
}
.content {
  margin: 50px 0px;
  box-shadow: 0px 4px 30px rgb(33 37 41 / 10%);
}
</style>