<template>
  <div class="box-register">
    <div class="header">
      <img src="../../image/logo.png" class="logo" alt="home" />
      <span class="text-title">Sign up</span>
      <span class="text-help">Need help?</span>
    </div>
    <div class="form-register">
      <div class="register">
        <form @submit.prevent="handleSubmit">
          <h3 class="title">Register</h3>
          <div class="form-group">
            <label>UserName</label>
            <input
              type="text"
              v-model="userName"
              class="form-control"
              placeholder="write username"
            />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              v-model="password"
              class="form-control"
              placeholder="write password"
            />
          </div>
          <button class="btn-submit">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "RegisterPage",
  data() {
    return {
      userName: "",
      password: "",
    };
  },
  methods: {
    async handleSubmit() {
      try {
        const data = {
          username: this.userName,
          password: this.password,
        };
        this.$store.commit('UPDATE_USERNAME',data.username);
        const res = await axios.post("register", data);
        console.log(res);
        this.$router.push("/login");
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
.box-register {
  width: 100%;
}
.form-register {
  width: 100%;
  height: 600px;
  background-image: url("../../image/background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.register {
  width: 400px;
  padding: 25px 20px;
  height: 430px;
  margin-right: 30px;
  border-radius: 5px;
  background-color: white;
}
.title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.form-control {
  margin-top: 10px;
  padding: 12px 10px;
  font-size: 14px;
}
label {
  margin-top: 10px;
}
.btn-submit {
  width: 100%;
  border: none;
  background-color: greenyellow;
  border-radius: 3px;
  padding: 13px 0px;
  margin: 20px 0px;
  font-size: 14px;
  color: #f7ffff;
  text-transform: uppercase;
  cursor: pointer;
}
.logo {
  width: 80px;
  height: 60px;
  margin-bottom: 7px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.text-title {
  font-size: 24px;
}
.text-help {
  font-size: 14px;
  color: red;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
</style>