<template>
  <div class="store">
    <div class="nav-header">
      <img
        src="https://salt.tikicdn.com/ts/upload/ae/f5/15/2228f38cf84d1b8451bb49e2c4537081.png"
        class="logo"
        alt="home"
      />
      <div class="search-item">
        <el-input
          placeholder="Do you want to find anything?"
          class="search"
          v-model="input"
          @input="findCardByName"
        >
        </el-input>
      </div>
      <div class="account" v-if="!username">
        <el-avatar icon="el-icon-user-solid"></el-avatar>
        <router-link to="/login" class="confirm">Đăng nhập</router-link>
        <span class="connect">/</span>
        <router-link to="/register" class="confirm">Đăng ký</router-link>
      </div>
      <div class="account" v-if="username">
        <el-avatar
          src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
        ></el-avatar>
        <span class="name">Hello {{ username }}/</span>
        <span @click="handleLogout" class="confirm" style="cursor: pointer"
          >Logout</span
        >
        <div class="description">
          <p class="content">Description:{{ description }}</p>
          <div class="edit">
            <i class="el-icon-edit-outline" @click="isDisplay = true"></i>
          </div>
        </div>
        <div class="change-description" :class="{ hide: isDisplay === false }">
          <el-input
            placeholder="write new des"
            v-model="newDescription"
          ></el-input>
          <i
            class="el-icon-check"
            @click="changeDescription"
            v-if="newDescription"
          ></i>
        </div>
      </div>
      <div class="cart">
        <el-badge :value="1" class="item">
          <img
            src="https://salt.tikicdn.com/ts/upload/40/44/6c/b80ad73e5e84aeb71c08e5d8d438eaa1.png"
            class="cart-icon"
            alt="cart"
          />
        </el-badge>
        <span class="text-cart">Giỏ Hàng</span>
      </div>
      <div class="link-page-admin" v-if="checkAdmin === true">
        <router-link to="/admin" class="link">Admin Page</router-link>
        <i class="el-icon-arrow-right"></i>
      </div>
    </div>
    <AddCard @push-item="pushImage"></AddCard>
    <el-row>
      <ListCardItem
        :list="newList.length === 0 ? listCard : newList"
        @delete-event="deleteCard"
        @choose-img="changeImg"
      ></ListCardItem>
    </el-row>
    <!-- <Pagination></Pagination> -->
  </div>
</template>

<script>
import axios from "axios";
import AddCard from "@/components/AddCard.vue";
import ListCardItem from "@/components/ListCardItem.vue";
// import Pagination from '@/components/Pagination.vue';
export default {
  name: "StoreView",
  data() {
    return {
      id: 0,
      listCard: [],
      input: "",
      newList: [],
      admins: [],
      checkAdmin: false,
      description: "",
      newDescription: "",
      isDisplay: false,
    };
  },
  components: {
    AddCard,
    ListCardItem,
    // Pagination
  },
  computed: {
    username() {
      return this.$store.state.username;
    },
  },
  methods: {
    async getListItem() {
      try {
        const res = await axios.get("file");
        this.listCard = res.data;
        console.log(res);
      } catch (error) {
        console.log(error);
      }
    },
    async pushImage(file) {
      try {
        const res = await axios.post("file", file);
        res.data.forEach((item) => {
          this.listCard.unshift(item);
        });
      } catch (error) {
        console.log(error);
      }
    },
    async findCardByName(value) {
      try {
        this.input = value;
        const res = await axios.post(`file/find?name=${this.input}`);
        this.newList = res.data;
        console.log(this.newList);
      } catch (error) {
        console.log(error);
      }
    },
    async deleteCard(id) {
      try {
        //received id from ListCardItem and push to server
        await axios.delete(`file/${id}`);
        this.getListItem();
      } catch (error) {
        console.log(error);
      }
    },
    async changeImg(newFile) {
      try {
        //received img from ListCardItem and push to server
        const res = await axios.put(
          `file/replace?id=${newFile.id}`,
          newFile.form
        );
        const index = this.listCard.findIndex((img) => img.id === newFile.id);
        this.listCard.splice(index, 1, res.data);
        console.log(res.data);
      } catch (error) {
        console.log(error);
      }
    },
    async changeDescription() {
      try {
        const res = await axios.put("/user", {
          description: this.newDescription,
        });
        console.log(res);
        //assign description after change
        this.description = res.data.description;
        this.newDescription = "";
        //hide input description
        this.isDisplay = false;
      } catch (error) {
        console.log(error);
      }
    },
    handleLogout() {
      localStorage.removeItem("token");
      this.$router.push("/login");
      this.$store.commit('SET_USER',{});
    },
  },
  async created() {
    this.getListItem();
    const res = await axios.get("user");
    //find description follow username from login
    res.data.forEach((item) => {
      if (item.username === this.username) {
        this.description = item.description;
      }
    });
    //filter admin in res
    this.admins = res.data;
    //check admin
    this.admins = this.admins.filter((admin) => admin.role.name === "admin");
    this.admins.forEach((admin) => {
      if (this.username === admin.username) {
        this.checkAdmin = true;
      }
    });
  },
};
</script>

<style>
.el-row {
  width: 80%;
  margin: auto;
}
.search {
  width: 90%;
}
.nav-header {
  width: 100%;
  background-color: #1a94ff;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-item {
  width: 60%;
}
.logo {
  width: 60px;
  height: 40px;
  margin-bottom: 7px;
}
.account {
  display: flex;
  align-items: center;
  position: relative;
}
.confirm {
  font-size: 14px;
  color: white;
  text-decoration: none;
  display: block;
}
.connect {
  color: white;
}
.cart-icon {
  width: 32px;
  height: 32px;
}
.cart {
  margin-left: 15px;
  display: flex;
  align-items: flex-end;
}
.text-cart {
  font-size: 13px;
  color: whitesmoke;
}
.name {
  color: white;
}
.option-user {
  position: absolute;
  top: 50px;
  left: 30px;
}
.is-active {
  color: white !important;
}
.description {
  position: absolute;
  top: 40px;
  left: 0px;
  color: white;
  display: flex;
}
.link-page-admin {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
.el-icon-edit-outline {
  font-size: 25px;
  cursor: pointer;
}
.link {
  color: white;
  text-decoration: none;
}
.change-description {
  position: absolute;
  top: 82px;
  display: flex;
  align-items: center;
}
.el-icon-check {
  font-size: 22px !important;
  cursor: pointer;
}
.hide {
  display: none;
}
</style>