<template>
  <div class="list-card">
    <input
      type="file"
      @change="onFileSelected"
      ref="fileInput"
      style="display: none"
    />
    <el-button type="primary" plain @click="pickImg">New image</el-button>
  </div>
</template>

<script>
export default {
  name: "AddCard",
  methods: {
    onFileSelected(event) {
      const file = event.target.files[0];
      const formData = new FormData();
      formData.append("files", file, file.name);
      this.$emit("push-item", formData);
    },
    pickImg() {
      this.$refs.fileInput.click();
    },
  },
};
</script>

<style scoped>
.el-col {
  display: flex;
}
.list-card {
  margin-top: 20px;
}
</style>