<template>
  <div class="card-item">
    <el-card shadow="hover" :body-style="{ padding: '2px' }">
      <el-image
        :src="`http://localhost:3001/static/files/${card.name}`"
        class="img"
      ></el-image>
      <input
        type="file"
        @change="onFileSelected"
        ref="fileInput"
        style="display: none"
      />
      <div class="option">
        <el-button
          type="primary"
          icon="el-icon-refresh"
          @click="changeImg"
          circle
        ></el-button>
        <span class="name">{{ card.name }}</span>
        <el-button
          type="danger"
          icon="el-icon-delete"
          @click="centerDialogVisible = true"
          circle
        ></el-button>
        <!-- confirm delete -->
        <el-dialog
          title="Warning"
          :visible.sync="centerDialogVisible"
          width="30%"
          center
        >
          <span>Are you sure to delete it?</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="centerDialogVisible = false">Cancel</el-button>
            <el-button type="primary" @click="deleteItem">Confirm</el-button>
          </span>
        </el-dialog>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "CardItem",
  props: {
    card: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      input: "",
      centerDialogVisible: false,
    };
  },
  methods: {
    deleteItem() {
      // send delete to ListCardItem
      this.$emit("delete-item", this.card.id);
      this.centerDialogVisible = false;
    },
    onFileSelected(event) {
      const file = event.target.files[0];
      const formData = new FormData();
      formData.append("files", file, file.name);
      const obj = {
        id: this.card.id,
        form: formData,
      };
      //send img change to ListCardItem
      this.$emit("choose-img", obj);
    },
    changeImg() {
      this.$refs.fileInput.click();
    },
  },
};
</script>

<style scoped>
.card-item {
  width: 190px;
  height: 240px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}
.img {
  height: 190px !important;
}
.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.el-button {
  font-size: 12px;
}
.name {
  max-width: 115px;
  word-wrap: break-word;
  color: black;
}
.el-dialog__body {
  font-size: 18px !important;
}
</style>