<template>
  <div class="box-card">
    <div class="card-empty" v-if="list.length === 0">
      <h2 class="text-empty">Currently, don't have any images here</h2>
    </div>
    <div class="list-card">
      <CardItem
        class="list-item"
        v-for="(card, index) in list"
        :key="index"
        @delete-item="deleteItem"
        :card="card"
        @choose-img="changeImg"
      ></CardItem>
    </div>
  </div>
</template>

<script>
import CardItem from "@/components/CardItem.vue";
export default {
  name: "ListCardItem",
  components: {
    CardItem,
  },
  props: {
    list: {
      type: [Array, String],
      default: null,
    },
  },
  methods: {
    deleteItem(id) {
      //send delete to StoreView
      this.$emit("delete-event", id);
    },
    changeImg(newFile) {
      //received img from CardItem and send to StoreView
      this.$emit("choose-img", newFile);
    },
  },
};
</script>

<style scoped>
.list-card {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card-empty {
  margin-top: 100px;
}
</style>