<template>
  <div class="container">
    <el-pagination
      background
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
    >
    </el-pagination>
  </div>
</template>

<script>
export default {
  name: "PaginationPage",
  data() {
    return {
      currentPage: 5,
      rows: 200,
      perPage: 15,
    };
  },
};
</script>

<style scoped>
</style>